body {
    margin: 0 100px;
    background-color: #8d8d8d;
}
header {
    position: absolute;
    height: 121px;
    width: 1440px;
    background-color: #daac00;
}
.nav {
    position: absolute;
    font-size: 30px;
    left: 528px;
    top: 47px;
}
.navv {
    padding: 25px;
}
.nav a {
    text-decoration: none;
    color: white;
}
header.dva {
    background-color: #fcc302;
    width: 1440px;
    height: 779px;
    margin-top: 121px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
h1.slogan {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 113px;
    left: 140px;
    font-size: 4em;
    color: white;
    z-index: 1;
}
p.pod {
    position: absolute;
    left: 139px;
    top: 380px;
    font-size: 2em;
    color: white;
    z-index: 1;
}
.logo {
    position: absolute;
    top: 125px;
    left: 854px;
    width: 500px;
    height: 500px;
    z-index: 0;
}
.button {
    position: absolute;
    top: 500px;
    left: 140px;
    background-color: #00bec9;
    width: 182px;
    height: 69px;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 1.3em;
}
.button:hover {
    background-color: #39aeb4;
}
.button2 {
    position: absolute;
    top: 500px;
    left: 357px;
    background-color: #fcc302;
    width: 182px;
    height: 69px;
    border-color: white;
    border: solid;
    border-radius: 5px;
    color: white;
    font-size: 1.3em;
}
.button2:hover {
    background-color: #daac00;
}

header.tri {
    position: absolute;
    width: 1440px;
    height: 793px;
    background-color: white;
    top: 900px;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 3.2em;
    top: 185px;
    left: 140px;
    color: black;
}
p.ad {
    position: absolute;
    top: 325px;
    left: 140px;
    color: black;
    font-size: 2em;
}
img.image1 {
    position: absolute;
    z-index: 2;
    top: 180px;
    left: 800px;
    width: 320px;
    height: 350px;
}
img.image2 {
    position: absolute;
    z-index: 1;
    top: 420px;
    left: 570px;
    width: 320px;
    height: 350px;
}
img.image3 {
    position: absolute;
    z-index: 2;
    top: 400px;
    left: 970px;
    width: 420px;
    height: 300px;
}
.button3 {
    background-color: #fcc302;
    width: 182px;
    height: 69px;
    position: absolute;
    left: 140px;
    top: 550px;
    font-size: 1.3em;
    color: white;
    border: 0;
    border-radius: 5px;
}
.button3:hover {
    background-color: #daac00;
}
header.he2 {
    position: absolute;
    background-color: #fcc302;
    top: 1693px;
    width: 1440px;
    height: 1017px;
}
h1.Here {
    position: absolute;
    left: 560px;
    top: 40px;
    font-size: 4em;
    color: white;
}
p.ad2 {
    position: absolute;
    text-align: center;
    left: 375px;
    top: 150px;
    font-size: 2em;
    color: white;
}
div.box {
    display: flex;
    justify-content: space-around;
    padding: 66px;
    margin-top: 240px;
}
.images {
    width: 353.17px;
    height: 242px;
}
.images1 {
    width: 450px;
    height: 242px;
}
div.box2 {
    display: flex;
    justify-content: space-around;
    margin-top:-120px;
    padding: 65px;
}
.sizes1 {
    position: absolute;
    font-size: 2.4em;
    text-align: center;
    color: white;
    left: 180px;
}
.sizes2 {
    position: absolute;
    left: 600px;
    font-size: 2.4em;
    color: white;
    margin-left: 50px;
}
.sizes3 {
    position: absolute;
    font-size: 2.4em;
    text-align: center;
    color: white;
    right:130px;
}
header.he3 {
    position: absolute;
    height: 793px;
    width: 1440px;
    background-color: white;
    top: 2710px;
}
img.video2 {
    width: 506px;
    height: 480px;
    position: absolute;
    top: 140px;
    left: 140px;
    z-index: 1;
}
.sha {
    position: absolute;
    top: 447px;
    left: 443px;
}
h2.Ina {
    text-align: right;
    color: black;
    position: absolute;
    left: 770px;
    top: 216px;
}
p.ad3 {
    text-align: right;
    position: absolute;
    left: 757px;
    color: #000;
    font-size: 2em;
    top: 365px;
}
.button4 {
    background-color: #fcc302;
    width: 182px;
    height: 69px;
    position: absolute;
    left: 1110px;
    top: 550px;
    font-size: 1.3em;
    color: white;
    border: 0;
    border-radius: 5px;
}
.button4:hover {
    background-color: #daac00;
}
header.he4 {
    width: 1440px;
    height: 917px;
    position: absolute;
    top: 3503px;
    background-color: #fcc302;
}
h1.Here2 {
    font-size: 4em;
    color: rgb(0, 0, 0);
    text-align: center;
}
p.ad4 {
    position: absolute;
    text-align: center;
    left: 375px;
    top: 150px;
    font-size: 2em;
    color: white;
}
.ter {
    width: 303.17px;
    height: 342px;
}
div.box3 {
    display: flex;
    justify-content: space-around;
    padding: 66px;
}
div.asdf {
    font-size: 1.1em;
    margin-top: -50px;
}
.цена1 {
    color: rgb(0, 0, 0);
    position: absolute;
    left: 170px;
    font-size: 1.6em;
}
.цена2 {
    color: rgb(0, 0, 0);
    position: absolute;
    left: 634px;
    font-size: 1.6em;
}
.цена3 {
    color: rgb(0, 0, 0);
    position: absolute;
    left: 1063px;
    font-size: 1.6em;
}
.xqw1 {
    background-color: #00bec9;
    border: 0;
    width: 182px;
    height: 69px;
    font-size: 1.3em;
    color: white;
    border-radius: 50px;
    position: absolute;
    left: 180px;
    top: 750px;
}
.xqw2 {
    background-color: #00bec9;
    border: 0;
    width: 182px;
    height: 69px;
    font-size: 1.3em;
    color: white;
    border-radius: 50px;
    position: absolute;
    top: 750px;
    left: 625px;
}
.xqw3 {
    background-color: #00bec9;
    border: 0;
    width: 182px;
    height: 69px;
    font-size: 1.3em;
    color: white;
    border-radius: 50px;
    position: absolute;
    top: 750px;
    left: 1053px;
}
header.he6 {
    width: 1440px;
    height: 575px;
    position: absolute;
    top: 3503px;
}
.fon {
    width: 1440px;
    height: 575px;
}
div.box6 {
    display: flex;
    justify-content: space-around;
    margin-top: -350px;
}
div.box7 {
    display: flex;
    justify-content: space-around;
}
.dads {
    color: white;
}
p.assa {
    font-size: 2em;
    text-align: center;
}
.das {
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
h1.dada {
    position: absolute;
    top: -20px;
    left: 400px;
    color: white;
    font-size: 4em;
}
.sss1 {
    position: absolute;
    left: 500px;
}
.sss2 {
    position: absolute;
}
.sss3 {
    position: absolute;
}
header.cont {
    position: absolute;
    height: 250px;
    width: 1440px;
    top: 4000px;
    background-color: #daac00;
}
h1.soteti {
    position: absolute;
    color: white;
    left: 50px;
    top: 20px;
}
img.inst {
    position: absolute;
    left: 300px;
}
h1.nomber {
    color: white;
    position: absolute;
    top: 100px;
    left: 50px;
}
h2.me {
    position: absolute;
    left: 700px;
    top: 20px;
    font-size: 2em;
    color: white;
}
ul {
    list-style-type: none;
    color: white;
    font-size: 24px;
    margin-left: 660px;
    margin-top: -170px;
}
h1.pochta {
    color: white;
    position: absolute;
    font-size: 1.5em;
    left: 1000px;
    top: 35px;
}
img.fon2 {
    width: 1440px;
    height: 250px;
}
